CONTROL_PLANE_DATABASE_URL=postgresql+psycopg://controlplane:CHANGE_ME@127.0.0.1:5432/firstcontact_controlplane
CONTROL_PLANE_INTERNAL_TOKEN=CHANGE_ME_TO_A_LONG_RANDOM_VALUE
CONTROL_PLANE_PUBLISHER_MODE=disabled
CONTROL_PLANE_QUARANTINE_ROOT=.control-plane/quarantine
CONTROL_PLANE_MAX_CANDIDATE_BUNDLE_BYTES=52428800
CONTROL_PLANE_GITHUB_APP_ID=
CONTROL_PLANE_GITHUB_APP_PRIVATE_KEY_PATH=
CONTROL_PLANE_GITHUB_API_URL=https://api.github.com
